<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="Result_AnalysisConnectionString" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString2" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString3" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString4" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString5" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString6" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString7" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString8" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString9" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString10" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString11" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString12" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString13" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString14" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString15" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString16" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString17" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString18" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString19" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString20" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString21" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Result_AnalysisConnectionString22" connectionString="Data Source=DESKTOP-M8LUGSB\SQLEXPRESS;Initial Catalog=Result_Analysis;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
